body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.colorheader{
    color:crimson;
}
section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
}